
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: radial-gradient(#ff49c1 , #ffb3ae); 
   
}


.container {
    background: #6a1452;
    padding: 45px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgb(29, 44, 60, 1.5);
    max-width: 450px; 
    margin: 0 auto; 
    margin-top: 50px;
    animation: fadeIn 0.6s ease-in;
}
 

h1 {
    color: #fff7ad; 
    text-align: center; 
    margin-bottom: 30px;
    font-size: 35px;
    
}


.input-group {
    position: relative;
    margin-bottom: 20px; 
}

input, select {
    width: 95%; 
    padding: 15px; 
    border: 1px solid #44113e; 
    border-radius: 10px; 
    background: #ffb3ae; 
    color: #6a1452; 
    outline: none; 
    transition: background 0.3s; 
}
select {
    width: 100%;
}
#workshop {
    background-color: #ffb3ae;

}


label {
    position: absolute;
    top: 10px; 
    left: 10px; 
    color: #ffb3ae; 
    transition: 0.3s ease; 
    pointer-events: none; 
}

/* Focus Effects */
input:focus, select:focus {
    background: rgba(255, 168, 243, 0.3);
}

input:focus + label, select:focus + label,
input:not(:placeholder-shown) + label, select:valid + label {
    top: -10px; /* Move label up */
    left: 10px; /* Keep label in place */
    font-size: 0.9em; 
    color: #efff63; /* Change label color */
}


button {
    width: 100%;
    padding: 15px; 
    border: none; 
    border-radius: 10px; 
    background-color: #dfd15a; 
    color: #44113e; 
    font-size: 1.1em; 
    font-weight: bolder;
    cursor: pointer; 
    transition: background-color 0.3s; 
}

button:hover {
    background-color: #d5c300; 
}

@keyframes fadeIn {
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}